@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Titan+One&display=swap');


/*Aqui nesse * mexe em nada, pois tudo que alterar aqui vai alterar no código todo*/
*{
  margin: 0;
  padding: 0;
}
/*Caso deseje mudar, apenas o gradiente da cor que usa*/
body {
  background: #044476;
  background-attachment: fixed;
  font-family: 'Lilita One', cursive;
  color: rgb(255, 255, 255);
  height: 100%; /* define a altura do elemento para 100% */
}

/*Aqui bem simple, só o título que tá escrito,
ATENÇÃO caso mude a altura deve alterar a altura do container e do extras, pois elas fazem cálculo baseado nelas*/
.cabecalho{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

/*Bom aqui foi só para aplciar aquele efeito gradiente nas letras, caso queira alterar só mudar as cores mesmo*/
header h1 {
  padding: 0.5rem 1rem;
}
main h1, span, th {
  padding: 0.5rem 1rem;
}

/*Aqui seria tudo que engloba o calendário e o extras, não acho que deva mexer a menos que queira muito kkkk*/
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.calendario {
  border: 1px solid transparent;
  border-radius: 8px;
  width: 70%;
  margin:auto;
  border-radius: 2%;
  background-image: url('https://cdn.discordapp.com/attachments/828605988474191872/1087441388376957020/Item_enhancer.png');
  background-size: cover;
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.77);
}

.extras{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22%;
  max-height: 100;
  border-radius: 20px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 2%;
  background-image: url('https://cdn.discordapp.com/attachments/828605988474191872/1087441388376957020/Item_enhancer.png');
  background-size: cover;
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.77);
}

@media (max-width: 1100px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .calendario{
    width: 100%
  }
  .extras{
    margin-top: 30px;
    width: 30%;
  }
}


.content{
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

/*--------------ITENS DO CALENDÁRIO--------------*/

th.dias-semana {
  max-height: 1rem;
  text-align: center;
  vertical-align: top;
  padding: 10px;
  max-width: 1rem;  
  border-left: 1px solid rgb(17, 29, 111);
  border-top: 2px solid rgb(118, 195, 193);
  border-bottom: 2px solid rgb(118, 195, 193);
  animation: glow 1s ease-in-out infinite alternate;
}

td {
  max-height: 1rem;
  text-align: left;
  vertical-align: top;
  padding: 3px;
  max-width: 1rem;  
}

table.dia-semana {
  border-collapse: collapse;
  width: 95%;
  margin:auto;
  padding-top: 380px;
  font-size: 2rem;
  background-color: #696f66;
}

table.linha1 {
  border-collapse: collapse;
  width: 95%;
  margin:auto;
  padding-top: 380px;
  font-size: 2rem;
  background-color: #5f7479;
}

table.linha2 {
  border-collapse: collapse;
  width: 95%;
  margin:auto;
  padding-top: 380px;
  font-size: 2rem;
  background-color: #4c6487;
}

table.linha3 {
  border-collapse: collapse;
  width: 95%;
  margin:auto;
  padding-top: 380px;
  font-size: 2rem;
  background-color: #395d9c;
}

table.linha4 {
  border-collapse: collapse;
  width: 95%;
  margin:auto;
  padding-top: 380px;
  font-size: 2rem;
  background-color: #2856b0;
}

table.linha5 {
  border-collapse: collapse;
  width: 95%;
  margin:auto;
  padding-top: 380px;
  font-size: 2rem;
  background-color: #144fc6;
}

.espacamento{/*--------------Espaço entre as Linhas--------------*/
  height: 10px;
}

.espacamento2{/*--------------Espaço entre os dias da semana e a Linha 1--------------*/
  height: 5px;
}

.vazio{/*--------------Quando tiver uma célula sem nenhum dia--------------*/
  background-image: url('https://cdn.discordapp.com/attachments/828605988474191872/1088156767847985152/pokeball.png');
  background-size: 100px 92px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  border-left: 1px solid rgb(17, 29, 111);
  border-top: 2px solid rgb(118, 195, 193);
  border-bottom: 2px solid rgb(118, 195, 193);
  animation: glow 1s ease-in-out infinite alternate;
}

td {
  text-align: center;
  border-left: 1px solid rgb(17, 29, 111);
  border-top: 2px solid rgb(118, 195, 193);
  border-bottom: 2px solid rgb(118, 195, 193);
  animation: glow 1s ease-in-out infinite alternate;
}

.dias {/*--------------Serve para atribuir um tamanho padrão para as celulas dos dias, ou slá--------------*/
  position: absolute;
}

/*--------------TITULOS--------------*/
h1{/*Título Principal*/
  font-size: 60px;
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, #ffffff, #76c3c1, #76c3c1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px #6b2a3b;
  font-family: 'Lilita One', cursive;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

h2{/*Número Pequenos*/
  font-size: 100px;
  opacity: 0.2;
  color: transparent;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  text-shadow: none;
  position: relative;
  bottom: -20px;
}

h3{/*Número Grandes Transparentes*/
  font-size: 2rem;
  animation: glow1;
  margin-bottom: -78px;
}

span { /*--------------Por algum motivo, ta servindo para dar o efeito de brilho aos números--------------*/
  display: block;
  margin-top: 15px;
  animation: glow 1s ease-in-out infinite alternate;
  text-align: left;
}

.tooltip {
  position: relative;
}
/*Aqui você pode ta mexendo para editar cor e mudar fonte e tamanho do blãoq ue é exibido quando passa o mouse*/
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:rgb(99, 99, 207);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: .8rem;
  
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: 0.95s;
  
}

table.extralateral {
  border-collapse: collapse;
  width: 100%;
  margin:auto;
  padding-top: 380px;
  font-size: 1rem;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.day25::before {
  content: "PLACE HOLDER";
  position: absolute;
  text-align: center;
  top: 75px;
  left: 20px;
  font-size: 18px;
  z-index: 20;
  font-weight: bold;
  font-family: 'Lilita One', cursive;
  color: yellow;
  -webkit-text-stroke: 1px #4c3412;
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.umbreon{
  position: absolute;
  top: -70px;
  left: 40px;
  width: 50%;
  height: 50%;
  background-image: url("../imgs/umbreon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 180px 80px 0px 0;
  filter: drop-shadow(0 0 10px white);
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.scroll{
  overflow: hidden;
  overflow-y: scroll;
}

/* .day5 :hover{
  background-color: #0288d1;
} */

/*Apenas para customizar scoll*/
::-webkit-scrollbar-track {
  background-color: #f47b36;
}
::-webkit-scrollbar {
  width: 1px;
  background: #f47b36;
}
::-webkit-scrollbar-thumb {
  background: #f47b36;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff;
  }
  
  to {
    text-shadow: 0 0 5px #fff;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff;
  }
  
  to {
    text-shadow: 0 0 5px #fff;
  }
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .container{
    flex-direction: column;
    display: flex;
  }
  .h3{
    font-size: 1rem;
  }

}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

 /* ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
